html {
    box-sizing: border-box;
    font-family: Old Standard TT;
    color: #555;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin-left: 10px;
    background-color: #FFEEDB;
}


/* top navigation */

.topnav {
    background-color: #FFEEDB;
    overflow: hidden;
    font-family: oswald;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding-top: 30px;
    padding-right: 60px;
    text-decoration: none;
    font-size: 20px;
}


/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
    display: none;
}


/* When the screen is less than 600 pixels wide, hide all links */

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav a {
        display: none;
    }
    .side {
        display: none;
    }
}


/* The "responsive" class is added to the topnav with JavaScript */

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media (min-width: 6.25em) {
    html {
        font-size: 17px;
    }
}

@media (min-width: 12.5em) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 18.75em) {
    html {
        font-size: 19px;
    }
}

@media (min-width: 25em) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 31.25em) {
    html {
        font-size: 21px;
    }
}

@media (min-width: 37.5em) {
    html {
        font-size: 22px;
    }
}

@media (min-width: 43.75em) {
    html {
        font-size: 23px;
    }
}

@media (min-width: 50em) {
    html {
        font-size: 24px;
    }
}

@media (min-width: 56.25em) {
    html {
        font-size: 25px;
    }
}

@media (min-width: 62.5em) {
    html {
        font-size: 26px;
    }
}

@media (min-width: 68.75em) {
    html {
        font-size: 27px;
    }
}

@media (min-width: 75em) {
    html {
        font-size: 28px;
    }
}

@media (min-width: 81.25em) {
    html {
        font-size: 29px;
    }
}

@media (min-width: 87.5em) {
    html {
        font-size: 30px;
    }
}

@media (min-width: 93.75em) {
    html {
        font-size: 31px;
    }
}

@media (min-width: 100em) {
    html {
        font-size: 32px;
    }
}

@media (min-width: 106.25em) {
    html {
        font-size: 33px;
    }
}

@media (min-width: 112.5em) {
    html {
        font-size: 34px;
    }
}

@media (min-width: 118.75em) {
    html {
        font-size: 35px;
    }
}

@media (min-width: 125em) {
    html {
        font-size: 36px;
    }
}


/* Boxes styling for the entire page */

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


/* The fixed Side  */

.side {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    width: 50px;
    border-right: 1px dashed rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.5);
    font-family: oswald;
    text-transform: uppercase;
    letter-spacing: .0875rem;
    font-size: 9px;
    -webkit-transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
    transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}

.side:hover {
    color: rgba(0, 0, 0, 0.5);
}

.side .side__inner {
    position: relative;
    height: 100%;
    white-space: nowrap;
}

.side a {
    color: inherit;
    word-spacing: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
    transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}

.side .top,
.side .bottom {
    position: absolute;
    left: 0;
    -webkit-transform: rotate(-90deg) perspective(1px);
    transform: rotate(-90deg) perspective(1px);
    -webkit-transform-origin: 50px 50px;
    transform-origin: 50px 50px;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    word-spacing: .5rem;
}

.side .top {
    top: 25px;
    text-align: right;
    color: black;
}

.side .bottom {
    top: auto;
    bottom: 75px;
}

.side .bottom:hover a {
    color: rgba(0, 0, 0, 0.2);
}

.side .bottom:hover a:hover {
    color: rgba(0, 0, 0, 0.8);
}


/* The fixed Side end here */


/* support page navigation */

.anchornav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.anchornav li {
    display: block;
}

.anchornav li::after {
    content: '';
    width: 1.3rem;
    display: block;
    height: 2px;
    background: black;
}

.anchornav li:last-child::after {
    display: none;
}

.anchornav a {
    display: block;
    padding: 1em 0;
    font-family: oswald;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.4px;
    color: inherit;
    -webkit-transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
    transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}

.anchornav a span {
    display: inline;
    padding: .5em 0 0;
    opacity: .3;
    letter-spacing: normal;
    font-family: oswald;
    text-transform: none;
}

.anchornav a:hover {
    color: grey;
}

.anchornav a:hover span {
    opacity: 1;
    color: #181818;
}


/* support page navigation end */


/* Styling different sections */

.section {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-height: 60vh;
    width: 100%;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    padding: 20vh 50px 20vh 75px;
}

.section svg {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
}

.section svg.bottom {
    bottom: 0;
    top: auto;
    fill: grey;
}

.section .section__inner {
    height: 100%;
    max-width: 800px;
    margin: auto auto auto 0;
}

.section.section--hello {
    background-color: #FFEEDB;
    color: #181818;
}

.section.section--Travel {
    background-color: white;
    color: #555;
}

.section.section--Help {
    background-color: #de5f5f;
    color: white;
}

.section.section--Help svg {
    fill: #de5f5f;
}

.section.section--Documentation {
    background-color: #343436;
    color: white;
}

.section.section--Documentation svg {
    fill: #343436;
}


/* Styling different sections end here */


/* Travel guide section start here */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h5 {
    font-family: oswald;
    font-weight: bold;
    margin: 0 0 1em;
    line-height: 1;
    letter-spacing: -1px;
}


/* Typography media query for letter spacing */

@media (min-width: 30rem) {
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h5 {
        letter-spacing: -2px;
    }
}


/* Typography media query for letter spacing end */

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h5 a {
    color: inherit;
}

h1 a:hover,
.h1 a:hover,
h2 a:hover,
.h2 a:hover,
h3 a:hover,
.h3 a:hover,
h4 a:hover,
.h5 a:hover {
    border-bottom: .1875rem solid;
}

h1 span,
.h1 span,
h2 span,
.h2 span,
h3 span,
.h3 span,
h4 span,
.h5 span {
    color: #de5f5f;
}

h1,
.h1 {
    font-size: 1.2rem;
}


/* Typography media query for font size */

@media (min-width: 30rem) {
    h1,
    .h1 {
        font-size: 2.5rem;
    }
}

h2,
.h2 {
    font-size: 1.2rem;
}

@media (min-width: 30rem) {
    h2,
    .h2 {
        font-size: 2.5rem;
    }
}


/* Typography media query for font size end here*/


/* Travel guide section end */


/* Help hub section start here */

.pre {
    display: inline-block;
    font-size: 12px;
    margin: 0;
    opacity: .8;
    letter-spacing: 1.4px;
    word-spacing: .2rem;
    text-transform: uppercase;
    margin-bottom: 1em;
    color: inherit;
}

.pre span {
    font-size: .9em;
    margin-right: .4em;
    opacity: .5;
}

.pre:hover {
    opacity: 1;
}

p {
    font-size: .75rem;
    line-height: 1.4;
}

p a {
    font-weight: bold;
    color: inherit;
}

p a:hover {
    border-bottom: .1875rem solid;
}

.lead {
    display: block;
    font-size: .875rem;
    margin: 0;
}


/* help hub typography media query */

@media (min-width: 30rem) {
    .lead {
        font-size: 1rem;
    }
}

@media (min-width: 30rem) {
    p {
        font-size: .875rem;
    }
}


/* help hub typography media query ends */


/* Query box start here */

textarea {
    height: 150px;
    width: 300px;
}

.submit {
    padding: .3rem;
    background: #FFEEDB;
    color: black;
    font-family: Old Standard TT;
    font-size: 1rem;
    font-weight: normal;
    outline: none;
    border: none;
    border-radius: .3rem;
}

.reset {
    padding: .3rem;
    background: lightgray;
    color: black;
    font-family: Old Standard TT;
    font-size: 13px;
    font-weight: normal;
    border-radius: .2rem;
}


/* Query box end */


/* Modal Call Centre */

.block-1 {
    padding-top: 30px;
}

.call {
    padding: .3rem;
    background: gray;
    color: white;
    font-family: Old Standard TT;
    font-size: 30px;
    font-weight: normal;
    border-radius: .2rem;
}

.modal-vue .overlay {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.modal-vue .modal {
    position: relative;
    width: 300px;
    z-index: 9999;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: gray;
}

.modal-vue .close {
    position: absolute;
    top: 10px;
    right: 10px;
}


/* Modal Call Centre end */


/* help hub section end here */


/* Documentation section  start here */

#app-carousel {
    margin: 10px;
    width: 97%;
}

.carousel-component {
    position: relative;
    overflow: hidden;
}

.carousel-page {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    border: 1px solid #EEE;
    transition: 0.5s;
}

.carousel-page.active {
    visibility: visible;
    position: static;
}

.carousel-nav-prev {
    position: absolute;
    top: 5px;
    left: 5px;
}

.carousel-nav-next {
    position: absolute;
    top: 5px;
    right: 5px;
}


/* Carousel media query */

@media screen and (max-width: 600px) {
    .carousel-item {
        width: 285px;
        height: 250px;
        padding-left: -70px;
    }
    .image1 {
        width: 300px;
    }
    .image2 {
        width: 300px;
    }
    .image3 {
        width: 300px;
    }
    .image4 {
        width: 300px;
    }
    .image5 {
        width: 300px;
    }
    .image6 {
        width: 300px;
    }
    .image7 {
        width: 300px;
        height: 220px;
    }
    .image8 {
        width: 300px;
        height: 220px;
    }
    .image9 {
        width: 300px;
    }
    .image10 {
        width: 300px;
    }
    .image11 {
        width: 300px;
    }
    .image12 {
        width: 300px;
        height: 220px;
    }
    .image13 {
        width: 300px;
        height: 220px;
    }
}


/* Carousel media query end here*/


/* Documentation ends */